@{
    var role = Context.User.Identity?.GetUserRole();
}
<div class="overlay"></div>
<aside id="aside" class="col-2">
    <div class="accordion" id="accordionAside">
        @switch (role)
        {
            case nameof(RoleType.CoRole):
            case nameof(RoleType.PlanningRole):
                {
                    <partial name="Gp/_BaseGp" />
                    <partial name="Gp/_ReportsGp" />
                    <partial name="Gp/_PlanningGp" />
                    <partial name="Gp/_ProductionGp" />
                    <partial name="Gp/_QControlGp" />
                    break;
                }
            case nameof(RoleType.ProductionManagerRole):
                {
                    <partial name="Gp/_ReportsGp" />
                    <partial name="Gp/_ProductionGp" />
                    break;
                }
            case nameof(RoleType.ProductionClerkRole):
                {
                    <partial name="Gp/_ProductionGp" />
                    break;
                }
            case nameof(RoleType.QControlRole):
                {
                    <partial name="Gp/_QControlGp" />
                    break;
                }
            default:
                break;
        }
    </div>
</aside>