<nav id="navbar" class="navbar navbar-expand-lg">
    <div class="navbar-brand">
        <img src="~/panel/img/MalleableLOGO03.png" />
        <strong class="navbar-title">
            شرکت مالیبل سایپا
        </strong>
    </div>
    <div class="navbar-profile">
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="#">پروفایل</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-page="/Index" asp-page-handler="logout">خروج</a>
                </li>
            </ul>
        </div>
    </div>
</nav>