<div class="accordion-item">
    <h2 class="accordion-header" id="asideBase">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseBase" aria-expanded="false" aria-controls="collapseBase">
            <span class="icon-btn">
                <i class="bi bi-info-circle"></i>
            </span>
            اطلاعات
        </button>
    </h2>
    <div id="collapseBase" class="accordion-collapse collapse" aria-labelledby="asideBase"
        data-bs-parent="#accordionAside">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/Hall/Index">سالن/خط</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/Fusion/Index">ذوب</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/Product/Index">قطعات</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/Template/Index">قالب ها</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/Defect/Index">عیوب</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/Schedule/Index">شیفت ها</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/User/Index">کاربران</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="BaseInfo" asp-page="/Karset/Index">کارست</a>
                </li>
            </ul>
        </div>
    </div>
</div>