<div class="accordion-item">
    <h2 class="accordion-header" id="qcontrol_dashboard">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_qcontrol" aria-expanded="false" aria-controls="collapse_qcontrol">
            <span class="icon-btn">
                <i class="bi bi-diagram-3"></i>
            </span>
            کنترل کیفی
        </button>
    </h2>
    <div id="collapse_qcontrol" class="accordion-collapse collapse" aria-labelledby="qcontrol_dashboard"
        data-bs-parent="#accordionAside">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="nav-link" asp-area="QControl" asp-page="/Index">گزارشات</a>
                </li>
                <li class="list-group-item">
                    <a class="nav-link" asp-area="QControl" asp-page="/ToDo/Index">اطلاعات</a>
                </li>
            </ul>
        </div>
    </div>
</div>