// $text-color:#fff;
// $hover-color:$web-brown-color;

#footer {
  padding: .8rem;
  font-size: .8rem;
  border-top: $web-border;
  border-bottom: $web-border;
  background-color: #a9a9a926;

  .copy-right {
    margin: 0;
    text-align: center;
  }
}