@model IndexModel.InputModel

<form asp-page="">
    <div class="row">
        <div class="col-12">
            <label asp-for="Code" class="col-form-label"></label>
            <div class="col">
                <input asp-for="Code" class="form-control ltr">
            </div>
            <span asp-validation-for="Code"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label asp-for="KaviteCount" class="col-form-label"></label>
            <div class="col">
                @if (Model.CanEditKavite)
                {
                    <input asp-for="KaviteCount" class="form-control ltr">
                }
                else
                {
                    <input asp-for="KaviteCount" class="form-control ltr" disabled>
                }
            </div>
            <span asp-validation-for="KaviteCount"></span>
        </div>
    </div>

    <div class="my-2">
        <button type="submit" class="btn btn-outline-dark">ثبت</button>
    </div>
</form>