* {
   direction: rtl;
}

body {
   position: relative;
}

.img-back {
   position: absolute;
   left: 0;
   top: 250px;
   opacity: 0.70;
}

.login-form {
   padding: 1rem;
   border-radius: 5px;
   background-color: #fff;
   position: absolute;
   top: 185px;
   right: 59px;
   width: 426px;
   border-radius: 13px;
   box-shadow: -1px 4px 9px 15px #8b8989ad;
   opacity: 0.85;
}

.login-form .img-logo {
   position: absolute;
   height: 65.7px;
   width: 52px;
   right: 11px;
   bottom: 0px;
   top: 1px;

}

.login-form .img {
   height: 89.2px;
   width: 100px;
   position: absolute;
   left: 0;
   bottom: 0px;
   top: -50px;
}


.login-form .title {
   padding-top: 1rem;
   padding-right: 3.25rem;
   font-weight: bold;
   color: #6c7575;
   font-size: 1rem;
   text-shadow: 1px 1px #b1c5ce;
}

.login {
   // text-align: left;
   position: relative;
   margin: 2rem 0 3rem 0;
   height: 50px;
   clear: both;

   &:hover {
      box-shadow: 0px 0px 3px 2px grey;
   }
}

.input-login {
   outline: 0;

   &:focus~.lbl-login {
      top: -45px;
      font-size: 12px;
   }

   &:not(:placeholder-shown)~.lbl-login {
      top: -45px;
      font-size: 12px;
   }
}

.form-control {
   text-align: left;

   &:focus {
      outline: none;
      border-bottom: 1px solid blue;

   }
}

.lbl-login {
   margin: 1rem 0.5rem 0;
   font-size: 16px;
   color: gray;
   position: absolute;
   top: 0;
   pointer-events: none;
   // bottom: 60%;
   right: 69px;
   // transition: 0.2s ease all;
   transition: all 0.25s ease;
   -moz-transition: 0.2s ease all;
   -webkit-transition: 0.2s ease-in all;
   opacity: 0.5;
}

.highlight {
   position: absolute;
   height: 60%;
   width: 100px;
   bottom: 52px;
   right: 60px;
   pointer-events: none;
   opacity: 0.5;
}

.input-login:focus~.highlight {
   animation: inputHighlighter 2s ease;
}

@keyframes inputHighlighter {
   from {
      background: #d5d7db;
   }

   to {
      width: 0;
      background: transparent;
   }
}

.icon-inp {
   display: flex;
   align-items: center;
   padding: 0.375rem 0.75rem;
   font-size: 2rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: center;
   white-space: nowrap;
   background-color: #e9ecef;
   border: 1px solid #ced4da;

   :hover {
      color: #d52122;
   }
}

.btn-login {
   width: 118px;
   //  color: black;
   // background-color: transparent;
}

.validation-summary-errors ul {
   line-height: 2;
   font-size: .9rem;
}