@* @model IndexModel.InputModel

    <form asp-page="">
    <div class="row">
    <div class="col-12">
    <label asp-for="HallType" class="col-form-label"></label>
    <div class="col">
    <select class="form-select" asp-for="HallType" asp-items="Html.GetEnumSelectList<HallType>()">
    <option value="">--انتخاب کنید--</option>
    </select>
    </div>
    <span asp-validation-for="HallType"></span>
    </div>
    </div>

    <div class="row">
    <div class="col-12">
    <label asp-for="Line" class="col-form-label"></label>
    <div class="col">
    <input asp-for="Line" class="form-control ltr">
    </div>
    <span asp-validation-for="Line"></span>
    </div>
    </div>

    <div class="my-2">
    <button type="submit" class="btn btn-outline-dark">ثبت</button>
    </div>
    </form> *@